button {
    padding: 24px;
    margin: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.5);
    transition: all 300ms ease;
    font-size: 32px;
}

button:hover {
    transform: scale(1.05);
}